 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <!-- <br> -->
                    <hr>
                    <!-- <hr class="star-light"> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p align="center">Masters in Electrical and Computer engineering, with emphasis on Game Development and Human-Computer interaction. 9 years of Unity experience, and 6 years of experience with immersive technologies.</p>
                </div>
                <div class="col-lg-4">
                    <p align="center">I enjoy working on cross-functional teams, playing on the bleeding edge of human-computer interaction, pushing the limits of what it means for people to interact with machines as well as each other.</p>
                </div>
            </div>
        </div>
    </section>
