 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <!-- <br> -->
                    <hr>
                    <!-- <hr class="star-light"> -->
                </div>
            </div>
            <div class="row">
                    <p style="text-align: justify; max-width: 600px; margin: 0 auto;">
                        Masters in Electrical and Computer engineering, with emphasis on Game Development and Human-Computer interaction. 12 years of Unity experience, 8 years of experience with immersive technologies. I enjoy working on cross-functional teams, pushing the limits of what it means for people to interact with machines as well as each other.</p>
                    </p>
            </div>
        </div>
    </section>
