 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <!-- <br> -->
                    <hr>
                    <!-- <hr class="star-light"> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p align="justify">I'm a type of person that likes to see ideas come from paper to lived experience. Ever since trying out a VR dev kit in 2016, I have been a firm believer in immersive tech and it's ability to transform us through interactive experiences.</p>
                </div>
                <div class="col-lg-4">
                    <p align="justify">Working on cross-functional teams, I like to play on the bleeding edge of human-computer interaction, pushing the limits of what it means for people to interact with machines as well as each other.</p>
                </div>
            </div>
        </div>
    </section>
